/*--font style---*/

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Mulish:wght@400;700&family=Open+Sans&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;500;700;800&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/*--body--*/
body {
  margin: 0;
}

/*---header-style section----*/
.header-titel {
  color: #131318;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.head-titel {
  color: #ff5400;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header {
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav img {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home-btn {
  color: #ff5400;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-content {
  text-align: center;
  margin-top: 50px;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 500px;
  width: 1000px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0) 100%);
}
.main-content-title {
  padding: 40px;
  text-align: center;
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.main-content-description {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.wher-go {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
.find-now {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}
.content-tour {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.content-tour-point {
  padding-left: 5%;
}
.content-tour-title {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.content-tour-description {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.content-tour-image {
  width: 540px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.primary-button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
}
/*---card--section--style--*/
.content-choose {
  text-align: center;
}
.content-title {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.content-description {
  font-size: 16px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgba(19, 19, 24, 0.7);
}

/*---card-section---*/

.banner-card {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 24px;
}

.banner-title {
  position: absolute;
  top: 50%;
  color: #fff;
  padding-left: 30%;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.banner-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#banner-image1 {
  width: 573px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#banner-image2 {
  width: 573px;
  height: 300px;
  flex-shrink: 0;
  fill: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>),
    lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}
#banner-image3 {
  width: 374px;
  height: 286px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#banner-image4 {
  width: 474px;
  height: 286px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#banner-image5 {
  width: 274px;
  height: 286px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#banner-image6 {
  width: 473px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
#banner-image7 {
  width: 673px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/*---hotel ---section*/
#hotel-card {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.hotel-card-one {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.hotel-image {
  width: 80px;
  height: 80px;
  margin: 20px;
  flex-shrink: 0;
}
.hotel-card-two {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.hotel-card-title {
  color: #131318;
  margin: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hotel-description {
  color: #5a5a5d;
  margin: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.hotel-card-three {
  justify-content: center;
  margin-top: 30px;
  margin-left: 434px;
  margin-right: 434px;
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/*---deals---section--*/
.discount-card {
  text-align: center;
}
div > ul {
  display: flex;
}
div li {
  list-style: none;
}
.banner-right {
  padding-left: 30px;
}

.content-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.content-video-des {
  margin-left: 135px;
  margin-bottom: 100px;
}
.content-video-point {
  width: 610px;
  height: 424px;
  flex-shrink: 0;
  border-radius: 16px;
}
.content-video-description {
  width: 518px;
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.news-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 4%;
}
.news-section-des {
  width: 474px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.news-title {
  color: #131318;
  margin: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.news-description {
  color: #5a5a5d;
  margin: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.input-filup {
  width: 393px;
  height: 52px;
  margin: 18px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
}
.primary-button2 {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  margin: 18px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
}
.news-section-image {
  width: 672px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.save-seventy {
  text-align: center;
  width: 324px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #ff5400;
  position: relative;
  margin-right: 20px;
  bottom: 175px;
  float: right;
  transform: rotate(-19.628deg);
}
.save-seventy h2 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.save-seventy p {
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/*--footer section style---*/
footer {
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  background: rgba(19, 19, 24, 0.05);
}
.footer-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 110px;
}
#footer-description {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.line {
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.footer-end-title {
  color: #131318;
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/*---responsive section---*/

/*----mobile device---*/

@media screen and(max-width:576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
  }
}
